/* GLOBAL CSS */

.ui-mobile .ui-page-active {
    overflow-x: auto !important;
}
.ui-page {
    background-color: #ffffff;
}

.ui-icon-loading {
    background:url(../images/ajax-loader.gif) no-repeat;
    background-size: 100%;
}
.ui-loader-default {
    opacity: 0;
    filter: Alpha(Opacity=0);
    border-radius: 2.25em;

}
.ui-loader .ui-icon-loading {
    background-color: #fff;
}
.ui-loader {
    left: 46%;
    top: 90%;
}

/* This is really one big mess... */

body{
	-moz-user-select:-moz-none;
    -moz-user-select:none;
    -o-user-select:none;
    -khtml-user-select':'none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    font-size: 10px;
}
div.body{
	position:relative;
	background-color:white;
	margin-left: auto;
    margin-right: auto;
	overflow:hidden;
}
div.top_curve img{
	position: fixed;
	top: 0;
	width:100%;
	height:auto;
}
div.main_area{
	width: 100%;
	margin-top: 1.7em;
}

.main_area::-webkit-scrollbar { width: 0 !important }

.list {

}

.noLists {
    width: 75%;
    margin-left: 12.5%;
    display: none;
}
.hiddenCool {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 100%;
}

.activeList {
    background: red; /* if not working, let's see some red */
    background: -moz-linear-gradient( top ,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 15%,
        rgba(0, 255, 0, 1) 30%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 65%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom,
        color-stop(0%, rgba(255, 0, 0, 1)),
        color-stop(15%, rgba(255, 255, 0, 1)),
        color-stop(30%, rgba(0, 255, 0, 1)),
        color-stop(50%, rgba(0, 255, 255, 1)),
        color-stop(65%, rgba(0, 0, 255, 1)),
        color-stop(80%, rgba(255, 0, 255, 1)),
        color-stop(100%, rgba(255, 0, 0, 1)));
}

div.list_block{
	font-family: Arial;
	color: #222222;
	font-size: 3em;
	height: 3em;
	font-weight: 300;
	line-height: 3em;
	padding-left: 1em;
}

.listLine {
    width: 100%;
    float: right;
}

div.bottom_piece{
	position: fixed;
	bottom: -14em;
	width: 100%;
	height: 24em;
}

.newList {
    height: 9em;
    width: 9em;
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
}

div.bot_curve{
	position: relative;
	width: 100%;
	height: 2.8em;
	z-index: 1;
	margin-top: 12em;
}

div.bot_curve img{
	width:100%;
	height:auto;
}

div.left_button{
	position:relative;
	display:block;
	width:50%;
	text-align:center;
	float:left;
	background-color:#f2594b;
}

.clickLeftButton, .clickRightButton {
    width: 55%;
    margin-left: 27.5%;
}

.clickLeftButton:active{
	background-image:url("../images/l_button_active.png");
	background-repeat: no-repeat;
	background-position: bottom left;
}

div.left_button_image img{
	width:60%;
	padding-top:1em;
	padding-bottom:2em;
	height:auto;
}

div.right_button{
	position:relative;
	display:block;
	width:50%;
	text-align:center;
	float:right;
	background-color:#f2594b;
}

.clickRightButton:active{
	background-image:url("../images/r_button_active.png");
	background-repeat: no-repeat;
	background-position: bottom left;
}

div.right_button_image img{
	width:60%;
	padding-top:1em;
	padding-bottom:2em;
	height:auto;
}

#list_button_text{
	font-family: Arial;
	color: #FFFFFF;
	font-size: 1.3em;
	padding-bottom: 1em;
	white-space: nowrap;
}

